fail_fast: true
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: mixed-line-ending
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: check-ast
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-byte-order-marker
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.11.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy src tests
        types: [python]
        pass_filenames: false
    -   id: skjold
        name: "skjold: Auditing dependencies for known vulnerabilities."
        entry: skjold audit
        language: python
        language_version: python3
        files: ^(poetry\.lock|Pipfile\.lock|requirements.*\.txt)$

